# Recursion

In [18]:
# Print First N natural numbers
def print_FN(n):
    if n>0:
        print_FN(n-1)
        print(n,end=" ")
        
print_FN(5)

1 2 3 4 5

In [19]:
# Print First N natural numbers in Reverse order
def print_FN(n):
    if n>0:
        print(n,end=" ")
        print_FN(n-1)
        
print_FN(5)

5 4 3 2 1

In [20]:
# print First N odd numbers
def print_FN_Odd(n):
    if n>0:
        print_FN_Odd(n-1)  # get first N numbers(Index) n = 5
        print(2*n-1,end=" ") # convert it to an odd number 2 * 5 -1 = 9
        
print_FN_Odd(10)

1 3 5 7 9 11 13 15 17 19

In [23]:
# print First N even numbers
def print_FN_Even(n):
    if n>0:
        print_FN_Even(n-1)  # get first N numbers(Index) n = 5
        print(2*n,end=" ") # convert it to an even number 2 * 5 = 10
        
print_FN_Even(10)

2 4 6 8 10 12 14 16 18 20

In [24]:
# print First N even numbers in reverse
def print_FN_Even_reverse(n):
    if n>0:
        print(2*n,end=" ") # convert it to an even number 2 * 5 = 10
        print_FN_Even_reverse(n-1)  # get first N numbers(Index) n = 5
        
print_FN_Even_reverse(10)

20 18 16 14 12 10 8 6 4 2

In [32]:
# Sum of first N Natural Numbers
def sum_N(n):
    if n==1:
        return 1
    else:
        return n+sum_N(n-1)

sum_N(20)

210

In [35]:
# Sum of first N Natural Odd Numbers
def sum_N_Odd(n):
    if n==1:
        return 1
    else:
        return 2*n-1+sum_N_Odd(n-1)

sum_N_Odd(2)

4

In [39]:
# Sum of first N Natural Even Numbers
def sum_N_Even(n):
    if n==1:
        return 2
    else:
        return 2*n+sum_N_Even(n-1)

sum_N_Even(2)

6

In [42]:
# Factorial of a number
def fact(n):
    if n==1:
        return 1
    else:
        return fact(n-1)*n

fact(3)

6

In [46]:
# Sum of Squares first N Natural Numbers
def sum_Square_N(n):
    if n==1:
        return 1
    else:
        return n*n+sum_Square_N(n-1)

sum_Square_N(3)

14